@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

* {
    box-sizing: border-box;
}

body {
    height: 100vh;
    font-family: 'Orbitron', sans-serif;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    min-width: 380px;
    max-width: 992px;
}

.game-container {
    display: flex;
    justify-items: center;
    width : 100%;
    /* width: 992px; */
}

.main-game-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 65%;
}

.game-board {
    border: 2px solid;
    background-color: #3e3e3e;
    margin-bottom: 1rem;
}

.game-help {
    font-size: 1rem;
}

.game-right-container {
    display: flex;
    flex-direction: column;
    margin: 2rem;
    width: 35%;
}

.game-info-container {
    display: flex;
    flex-direction: column;
    width: 70%;
}

.game-info {
    font-size: 1rem;
    font-weight: bold;
    margin: 0.2rem 0;
}

.game-control-container {
    margin-top: 2rem;
    width: 90%;
}

.btn {
    border-radius: 0.5rem;
    background-color: rgba(0, 0, 0, 0.1);
    color: black;
    padding: 0.4rem 0.4rem;
    font-family: inherit;
    font-size: 1rem;
    margin: 0.2rem;
}

.btn.control {
    background-color: rgb(200, 200, 251);
    font-size: 0.9rem;
}

.btn.drop {
    background-color: rgb(249, 213, 200);
    font-size: 0.9rem;
}

.btn:hover {
    background-color: black;
    color: white;
}

.btn:active {
    transform: scale(0.92);
}

