@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;900&display=swap');

* {
    box-sizing: border-box;
    outline: 0;
    margin: 0;
    padding: 0;    
}


body {
    background-image: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);;
    font-family: 'Orbitron', sans-serif;
    margin: 0 auto;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    min-width: 380px;
    max-width: 992px;
    min-height: 660px;
}

.game-container {
    display: flex;
    justify-items: center;
    align-items: center;
    width : 100%;
}

.main-game-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 65%;
}

.game-board-border {
    border: 2rem solid rgba(250, 44, 212, 0.6);
    border-radius: 1rem;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.game-board {
    background-color:#4d2f85; 
    width: 100%;
    height: 100%;
}

.game-help {
    font-size: 1rem;
}

.game-info-container {
    display: flex;
    flex-direction: column;
    width: 30%;
    margin-left: 0.5rem;
    height: 80%;
}

.next-piece-border {
    border: 1rem solid rgba(95, 66, 226, 0.6);
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 0.5rem;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    margin-bottom: 0.4rem;
}

#next-shape {
    margin-top: 1rem;
    width: 80%;
}

.game-info {
    font-size: 1.2rem;
}

#game-level {
    color: rgb(135, 2, 2);
    font-size: 2rem;
    font-weight: 900;
}
#game-score {
    color: rgb(23, 1, 107);
    font-size: 2rem;
    font-weight: 900;
}
#total-lines {
    color: rgb(1, 74, 8);
    font-size: 2rem;
    font-weight: 900;
}

.btn {
    border-radius: 0.5rem;
    /* background-color: rgba(0, 0, 0, 0.1); */
    color: black;
    padding: 0.4rem 0.4rem;
    font-family: inherit;
    font-size: 1.2rem;
}

.btn.ctrl-play-ico {
    background-color:rgba(95, 66, 226, 0.4);
    color:#382261;
    width: 3.4rem;
    height: 3rem;
    margin: 0.2rem;
    border: none;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
}

.btn.control {
    background-color: rgb(200, 200, 251);
    font-size: 0.9rem;
}

.btn.drop {
    background-color: rgb(249, 213, 200);
    font-size: 0.9rem;
}

.btn:hover, 
.btn:active {
    background-color: rgb(73, 17, 95);
    color: white;
}

.btn:active {
    transform: scale(0.92);
}

.sound #sound-off,
.play #game-play {
    display: block;
}
.sound #sound-on,
.play #game-pause {
    display: none;
}
.sound.on #sound-on,
.play.on #game-pause {
    display: block;
}
.sound.on #sound-off,
.play.on #game-play  {
    display: none;
}


.game-control-container {
    display: none;
}

@media (max-width: 768px) {

    .tetris {
        width: 98%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    /* .game-container {
        display:flex;
        flex-direction: column-reverse;
        justify-items: center;
        align-items: center;
        width: 100%;
    } */

    .game-help {
        display: none;
    }
    .btn {
        font-size: 0.9rem;
    }

    /* .game-info-container {
        width: 90%;
        padding : 0.4rem;
    } */

    .game-board-border {
        border: 0.5rem solid rgba(250, 44, 212, 0.6);
        border-radius: 5px;
    }

    .next-piece-border {
        border: 0.5rem solid rgba(95, 66, 226, 0.6);
        border-radius: 5px;
        width: 90%;
    }

    /* .next-score-container {
        display: flex;
        flex-direction: row;
            margin: 0.4rem;
    } */

    .game-info {
        font-size: 1rem;
        padding-left: 5px;
    }

    .game-control-container {
        display: block;
        width : 90vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 1rem;
        background: rgb(238, 174, 202);
        background: linear-gradient(90deg, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
        border-radius: 10px;
        padding: 1px;
        border: 1px solid black;
    }

    #game-level {
        font-size: 1.5rem;
    }

    #game-score {
        font-size: 1.5rem;
    }

    #total-lines {
        font-size: 1.5rem;
    }

    .control-group {
        display: flex;
        width: 100%;
    }

    .controlBtn {
        font-size: 1rem;
        width: 100%;
        text-align: center;
        height: 4rem;
        border-radius: 10px;
        border: 1px solid white;
        padding: 0.4rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}